gunicorn
colorama==0.4.6
dash_bootstrap_components
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
itsdangerous==2.1.2
MarkupSafe==2.1.2
packaging==23.1
tenacity==8.2.2
Werkzeug==2.2.3
matplotlib
pandas
pandas_datareader
numpy
fredapi
yfinance
bs4
requests
requests_html
scipy
ipython
xlrd
dash==2.11.1
plotly==5.16.0
